:root {
	--primaryColour: #0474dc;
	--backgroundColour: #292929;
	--accentColour: #dd6e42;
}

body {
	background-color: var(--backgroundColour);
}
p{
	color: white;
}
h1,
h2,
h3 {
	color: var(--primaryColour);
	font-family: Helvetica;
	font-weight: 800;
	text-align: center;
}
