div h1 {


font-size: 25px;
color: rgb(11, 135, 250);
text-align: center;

margin: 0 20px;
opacity: 1;
animation: fadeIn ease 6s;
-webkit-animation: fadeIn ease 6s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

div h2
{
    color: rgb(11, 135, 250);
    font-size: 20px;
    text-align: center;

    margin: 0 20px;
    opacity: 1;
    animation: fadeIn ease 6s;
    -webkit-animation: fadeIn ease 6s;
}