/*ANIMATIONS*/

@keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}

/*STYLES*/


div h1
{
    color: rgb(11, 135, 250);
    font-size: 25px;
    text-align: center;

    margin: 0 20px;
    opacity: 1;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}
div h2
{
    color: rgb(11, 135, 250);
    font-size: 20px;
    text-align: center;

    margin: 0 20px;
    opacity: 1;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

hr
{
    background-color: rgb(11, 135, 250);
    height: 1px;
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }